<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-detached">
            <div class="content-body">
                <section class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-head">
                                <div class="card-header">
                                    <h4 class="card-title" id="basic-layout-form">افزودن محصول</h4>
                                    <a class="heading-elements-toggle">
                                        <i class="la la-ellipsis-v font-medium-3"></i>
                                    </a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li>
                                                <span class="dropdown">
                                                    <button id="btnSearchDrop12" type="button"
                                                        class="btn btn-sm btn-icon btn-pure font-medium-2"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <i class="ft-plus-circle"></i>
                                                    </button>
                                                    <span aria-labelledby="btnSearchDrop12"
                                                        class="dropdown-menu mt-1 dropdown-menu-right">
                                                        <!-- <a href="/admin/product/add" class="dropdown-item">
                                                            <i class="ft-plus-circle"></i> افزودن محصول یدکی</a> -->
                                                        <a href="/admin/product/add" class="dropdown-item">
                                                            <i class="ft-plus-circle"></i> افزودن محصول مصرفی (روغن)</a>
                                                        <!-- <a href="/admin/product/add?category=filter"
                                                            class="dropdown-item">
                                                            <i class="ft-plus-circle"></i> افزودن محصول (فیلتر)</a> -->
                                                    </span>
                                                </span>
                                            </li>
                                            <li>
                                                <a data-action="collapse">
                                                    <i class="ft-minus"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-action="reload">
                                                    <i class="ft-rotate-cw"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-action="expand">
                                                    <i class="ft-maximize"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-action="close">
                                                    <i class="ft-x"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="card-content col-12">
                                <div class="card-body">
                                    <!-- Task List table -->
                                    <div class="table-responsive">
                                        <table id="users-contacts"
                                            class="table table-white-space table-bordered table-striped row-grouping display no-wrap icheck table-middle">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>نام</th>
                                                    <th>تعداد</th>
                                                    <th> قیمت </th>
                                                    <th>کشور سازنده</th>
                                                    <th>عملیات</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <%products?.forEach((product, index) => {%>
                                                <tr>
                                                    <td class="text-center">
                                                        <%-`<b>${index+1}</b>`%>
                                                    </td>
                                                    <td>
                                                        <div class="media">
                                                            <div class="media-body media-middle">
                                                                <span
                                                                    class="media-heading text-bold-700"><%=product.name%></span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-left">
                                                        <span><%=(+product.count).toLocaleString("fa-IR")%></span>
                                                    </td>
                                                    <td class="text-left">
                                                        <span><%=(+product.price).toLocaleString("fa-IR")%></span>
                                                    </td>
                                                    <td>
                                                        <span><%=product.madeIn%></span>
                                                    </td>
                                                    <td>
                                                        <span class="dropdown">
                                                            <button id="btnSearchDrop12" type="button"
                                                                class="btn btn-sm btn-icon btn-pure font-medium-2"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                                <i class="ft-more-vertical"></i>
                                                            </button>
                                                            <span aria-labelledby="btnSearchDrop12"
                                                                class="dropdown-menu mt-1 dropdown-menu-right">
                                                                <a href="/admin/product/edit-form/<%=product._id%>?category=<%=product.category%>" class="dropdown-item">
                                                                    <i class="ft-edit-2"></i> ویرایش</a>
                                                                <a href="/admin/product/remove/<%=product._id%>?" class="dropdown-item">
                                                                    <i class="ft-trash-2"></i> حذف</a>
                                                            </span>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <%})%>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<%if(Object.keys(messages || {}).length > 0 || message){%>
    <div class="modal text-left" id="iconModal" tabindex="-1" role="dialog" aria-labelledby="basicModalLabel2"
        aria-hidden="false" style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="basicModalLabel2"><i class="la la-road2"></i>سیستم هشدار</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <%if(Object.keys(messages).length > 0){%>
                            <%Object.keys(messages).forEach(key =>{%>
                                <%-(`<span>${messages[key]}</span><br/>`)%>
                                <%})%>
                        <%}%>
                        <%if(message){%>
                                <%-(`<span>${message}</span><br/>`)%>
                        <%}%>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close" onclick="(() => document.querySelector('.modal').style.display ='none' )()">بستن</button>
                    </div>
                </div>
            </div>
    </div>
    <% }%>
<script>
    const showPricesBtns = document.querySelectorAll(".showPrices");
    showPricesBtns.forEach(showPricesBtn => {
        showPricesBtn.addEventListener("click", async(e) => {
            const product_id = showPricesBtn.getAttribute("data-product_id")
            const prices = await fetch("http://localhost:5000/admin/product/get-prices/" + product_id).then(res => res.json())
            console.log(JSON.stringify(prices, null, 4));
            
            if (prices.success && prices?.list?.length) {
                document.querySelector(".modal-body").innerHTML = prices.list.map(price =>
                `<span>(${price.fa_name +"-"+price.en_name}) : ${price.price.find(p => p.company == price._id).price}</span><br/>`).join("<br/>")
            }else{
                document.querySelector(".modal-body").innerHTML = "قیمتی یافت نشد"
            }
            $("#iconModal").modal("show");

        })
    })
</script>